{% extends "base.html" %}
{% load static %} 
{% block head %}

<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<link rel="stylesheet" href="{% static 'css/form-goal.css'%}">
{% endblock %}
{% block content %}

<div class="page-header">
    {% if goal %}
    <h1 class="script-goals">Edit your goal</h1>
    {% else %}
    <h1 class="script-goals">Add Your Goal </h1>
    {% endif %}
</div>
<form action="" method="post" class="form-container">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <button type="submit" class="btn submit">Submit!</button>
</form>

<script defer src="{% static 'js/goal-details.js' %}"></script>

{% endblock %}