{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form-profile.css' %}">
{% endblock %}
{% block content %}

<div class="page-header">
    {% if profile %}
    <h1>Edit {{profile.user.username}} </h1>
    {% else %}
    <h1>Add the Profile</h1>
    {% endif %}
</div>
    <form action="" method="post" class="form-container">
         {% csrf_token %}
         <table>
            {{form.as_table}}
         </table>
        <button type='submit' class = "btn submit">Submit</button>
    </form>
    

{% endblock %}