{% extends 'base.html' %}  
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/profile-delete.css' %}"/>
{%  endblock %}
{% block content %}

<section >
<div>
    <h1>Delete Profile?</h1>
</div>

<h2>
    Are you sure you want to delete {{ profile.user.username}}
</h2>
<form action="" method="post">
    {% csrf_token %}
    <div class="image-container-2">
        <img src="{% static 'images/image-6.jpg' %}" class="img" alt="Workouts image">
    <div class= "button-container">
       <a href="{% url 'profile' %}" class="btn submit">Cancel</a>
       <button type= "submit" class="btn submit"> Yes - Delete!</button>
   </div>
</div>
</form>
</section>

{% endblock %}