{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
  <script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link rel="stylesheet" href="{% static 'css/workout-form.css'%}">
{% endblock %}
{% block content %}

<div class="page-header">
    {% if workout %}
    <h1>Edit{{workout.user.username}}</h1>
    {% else %}
    <h1>Add Your Workout</h1>
    {% endif %}
</div>
<form action="" method="post" class="form-container">
    {% csrf_token %}
    <table>
        {{form.as_table}}
       
    </table>
    <button type="submit" class="btn submit">Submit!</button>
</form>
<script defer src="{% static 'js/workout-details.js' %}"></script>
{% endblock %}