{% extends 'base.html'%}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/workout-details.css' %}"/>
{% endblock %}
{% block content %}
<section class="workout-details">
    <h1>Workout details</h1>
    {% if workouts %}
    <div class="cards-container">
        {% for workout in workouts%}
        <div class = "card-layout">
     <h2>Exercise: {{workout.exercise}}</h2>
     <p>Date: {{workout.date}}</p>
     <p>Duration:{{workout.duration}}</p>
     <p>Distance: {{workout.distance}}</p>
     <p>Notes: {{workout.notes}}</p>
     <div class="image-container">
    
        <img src="{% static 'images/image-4.jpg' %}" alt="Workout image">
     </div>
     <div class="button-container">
        <a href="{% url 'workout-update' workout.pk %}" class="btn submit">Edit</a>
        <a href="{% url 'workout-delete' workout.pk%}" class="btn submit">Delete</a>
    </div>
        </div>
        {% endfor %}
    </div>
   {% else %}
   <div class="view-page">
   <p> Please add some worksout logs to view your workouts</p>
  </div>
    {% endif%}
    
</section>

{% endblock %}