 {% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
   
    <title>Fitness App</title>
    {% block head %}
    {% endblock %}
 </head>
 <body>
   <header>
    <nav>
        <ul>
            {%if user.is_authenticated %}
            
            <li><a href="{% url 'profile' %}">Profile</a></li>
           
            <li><a href="{% url 'workout-create' %}">Add Workout</a></li>
            <li><a href="{% url 'workout-details' %}">Workout Details</a></li>
            <li><a href="{% url 'goal-create' %}">Add goals</a></li>
            <li><a href="{% url 'goal-details' %}">View Goals</a></li>
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                   <li><button type="submit">Log out</button></li> 
                </form>
            </li>
            
            
            {% else %}
            
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
   </header> 
   <main>
    {% block content %}
    {% endblock %}
   </main>
 </body>
 </html>
