.form-container {
    max-width: 70vw;;
    margin: 0 auto;
    padding: 2em; 
    background-color: var(--color-light);
    text-align: center;
   
} 
 
.page-header {
    color: var(--bg-color);
    text-align: center;
    margin-top: 2em
}

table {
    width: 100%;
    padding: 0;
    border-spacing: 0;
    
}

td {
    padding: 1em;
    text-align: left;
}

input {
    width: 50%;
    border: 1px solid var(--bg-color);
    padding: .5em;
    margin: .5em;
    border-radius: .5em;
}

label {
    display: block;
    padding: 1em;
    text-align: right;
}

form .btn.submit {
    display: block;
    background-color: var(--bg-color);
    padding: 1em;
    border-radius: 5px;
    width: 5vw;
    line-height: .7;
    margin: 1em auto;
    font-size: medium;
    transition: .5s ease;
    cursor: pointer;
 }

 form .btn.submit:hover {
    color: var(--color-hover); 
 }