section {
    max-width: 50%;
    margin: 5em  auto;
    padding: 0; 
    background-color: var(--color-light);
    border: 5px solid var(--second-bg-color);
    border-radius: 2em;
}

h1 {
    color: var(--bg-color);
    text-align: center;
    margin-top: 2em;
    
}

h2 {
    color: var(--color-warning);
    text-align: center;
    margin-top: 2em;
  
}



.button-container {
 display: flex;
 position: absolute;
 top: 10px;
 right: 5px;
 
}

.btn {

   background-color: transparent;
   padding: 1em;
   border-radius: 5px;
   width: auto;
   line-height: .2;
   font-size: medium;
   transition: .5s ease;
   cursor: pointer;
   color: var(--color-light);
   text-decoration: none;
   font-weight: bold;
   font-size: large;
}

.btn:hover {
    background-color: #033b8d;
}

.image-container-2  {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-top: 50px;
    width: 400px;
    margin-bottom: 30px;
    
  }
 
 .image-container-2 img {
    
     height: 400px;
     object-fit: cover;
     border-radius: 8px;
     width: 400px;
     
  }
 
  strong {
    font-weight: bold;
    color: var(--bg-color);
  }